<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Content</title>
  </head>
  <body>
    <h1>Adding content</h1>
    <form action="/courses/add/<%= id %>" method="POST">
      <div>
        <span>creator Name</span>
        <input
          type="text"
          name="creatorName"
          id="creatorName"
          placeholder="Enter your name"
          required
        />
        <span>content Description</span>
        <textarea
          name="courseContentDescription"
          id="contentDescription"
          cols="30"
          rows="10"
        ></textarea>
        <span>Video Link</span>
        <input
          type="text"
          name="videoLink"
          id="videoLink"
          placeholder="paste your url here"
        />
        <span>Document Link</span>
        <input
          type="text"
          name="documentLink"
          id="documentLink"
          placeholder="paste your url here"
        />
        <button type="submit">Add</button>
      </div>
    </form>
  </body>
</html>
