<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/privacy.css" />
	<title>Terms of use</title>
</head>

<body>
	<%- include('partials/navbar') %>
		<div class="container">
			<h1>Privacy Policy</h1>
			<br>
			<h2>Introduction</h2>
			<p>Our educational website is committed to protecting your privacy. This Privacy Policy explains how we
				collect,
				use, and share your personal information when you use our website.</p>

			<h2>Information We Collect</h2>
			<p>We may collect the following types of personal information from you:</p>
			<ul>
				<li>Name</li>
				<li>Email address</li>
				<li>IP address</li>
				<li>Browser type</li>
				<li>Operating system</li>
				<li>Referring website</li>
				<li>Date and time of visit</li>
			</ul>

			<h2>Use of Information</h2>
			<p>We use your personal information to:</p>
			<ul>
				<li>Improve our website</li>
				<li>Send you educational content and newsletters</li>
				<li>Respond to your inquiries and requests</li>
				<li>Provide customer support</li>
			</ul>

			<h2>Sharing of Information</h2>
			<p>We may share your personal information with third-party service providers who assist us in operating our
				website and providing our services. We may also share your information if required by law or if we
				believe
				it is necessary to protect our rights or the rights of others.</p>

			<h2>Cookies</h2>
			<p>We use cookies and other tracking technologies to improve your browsing experience and to analyze how our
				website is used. You can disable cookies in your browser settings if you prefer.</p>

			<h2>Security</h2>
			<p>We take reasonable measures to protect your personal information from unauthorized access or disclosure.
				However, no data transmission over the internet can be guaranteed to be 100% secure.</p>

			<h2>Changes to Privacy Policy</h2>
			<p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new
				Privacy Policy on our website. You are advised to review this Privacy Policy periodically for any
				changes.
			</p>

			<h2>Contact Us</h2>
			<p>If you have any questions or concerns about our Privacy Policy, please contact us at
				info@educationwebsite.com.</p>
		</div>
		<%- include('partials/footer') %>
</body>

</html>
