<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A Section</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>



    <div class="container d-flex justify-content-between my-4">
        <h1 class="h2">Course Name</h1>
        <form class="d-flex align-items-center">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">Ask Doubt</button>
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button> -->
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ask Your Question</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Question Description:</label>
                                    <textarea class="form-control" id="message-text"
                                        placeholder="write your doubt here.."></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="button">Submit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-lg">
        <div class="card">
            <div class="card-header bg-dark text-light">
                username
            </div>
            <div class="card-body">
                <p class="card-text">Question Decription</p>
                <button class="btn btn-primary" id="toggle_reply">view/hide replies</button>
            </div>
        </div>
        <div class="replies card">

            <div class=" card-header">
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Add Reply">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Post Reply</button>
                </form>

            </div>
            <div class=" card-header">
                <h5>username</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos adipisci
                    corporis repellat tempore quaerat totam dignissimos quo laudantium! Doloribus dolores eos
                    perspiciatis cupiditate quis recusandae voluptatibus omnis explicabo perferendis./p>
            </div>

            <div class="card-header">
                <h5>username</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio nesciunt, molestiae
                    doloremque tenetur aliquam ad voluptate deleniti eum libero, sapiente iste ipsum in iure blanditiis
                    optio quia beatae quisquam? Cupiditate?</p>

            </div>
            <div class="card-header">
                <h5>username</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi soluta qui aspernatur
                    eum molestiae natus, itaque accusantium quaerat blanditiis quos, odit optio eligendi fugit numquam
                    placeat, error veniam similique harum.</p>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>


</html>