<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Question</title>
  </head>
  <body>
    <h1>Adding content</h1>
    <form action="/courses/question/<%= id %>" method="POST">
      <div>
        <span>question Text</span>
        <input
          type="text"
          name="questionText"
          id="questionText"
          placeholder="Enter your question"
          required
        />
        
        <button type="submit">Add</button>
      </div>
    </form>

    <form action="/courses/question/reply/<%= id %>" method="POST">
      <div>
        <span>reply Text</span>
        <input
          type="text"
          name="replyText"
          id="replyText"
          placeholder="Enter your reply"
          required
        />
        
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
