<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Question</title>
  </head>
  <body>

    <h1>Adding content</h1>
    <form action="/courses/question/<%= id %>" method="POST">
      <div>
        <span>question Text</span>
        <input
          type="text"
          name="questionText"
          id="questionText"
          placeholder="Enter your question"
          required
        />
        
        
        <button type="submit">Add</button>
      </div>
    </form>
    <h1>Edit Question</h1>
    
        <input type="hidden" name="courseId" value="<%= id %>" />

        
        <button type="submit" id="edit-btn">Edit</button>
    

    <form action="/courses/question/reply/<%= id %>" method="POST">
      <div>
        <span>reply Text</span>
        <input
          type="text"
          name="replyText"
          id="replyText"
          placeholder="Enter your reply"
          required
        />
        
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
<script>
  const editBtn = document.getElementById("edit-btn");
  editBtn.addEventListener("click", () => {
    fetch("http://localhost:3000/courses/delete-question/644420b2aeb8da1da9d3155d", {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      }
    })
      .then((res) => res.json())
      .then((data) => console.log(data));
  });
</script>
</html>
