<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/terms.css" />
    <title>Terms of use</title>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="terms-container mt-3">
      <h1>Terms of Use</h1>
      <p>
        Welcome to our educational website! These terms and conditions outline
        the rules and regulations for the use of our website.
      </p>
      <p>
        By accessing this website, we assume you accept these terms and
        conditions in full. If you do not agree with these terms and conditions,
        please do not use our website.
      </p>
      <h2>License</h2>
      <p>
        Unless otherwise stated, we or our licensors own the intellectual
        property rights in the website and material on the website. Subject to
        the license below, all these intellectual property rights are reserved.
      </p>
      <p>
        You may view, download for caching purposes only, and print pages from
        the website for your own personal use, subject to the restrictions set
        out below and elsewhere in these terms and conditions.
      </p>
      <ul>
        <li>
          You must not republish material from this website (including
          republication on another website), sell, rent or sub-license material
          from the website, or show any material from the website in public.
        </li>
        <li>
          You must not reproduce, duplicate, copy, edit, publish or distribute
          any material from this website for any commercial purpose, without our
          express written permission.
        </li>
        <li>
          You must not use our website in any way that causes or may cause
          damage to the website or impairment of the availability or
          accessibility of the website, or in any way which is unlawful,
          illegal, fraudulent or harmful.
        </li>
      </ul>
      <h2>Limitations of Liability</h2>
      <p>
        We will not be liable for any direct, indirect or consequential loss or
        damage arising under these terms and conditions or in connection with
        our website, whether arising in tort, contract, or otherwise.
      </p>
      <h2>Changes to Terms and Conditions</h2>
      <p>
        We may revise these terms and conditions at any time by updating this
        webpage. You should check this webpage regularly to ensure you are
        familiar with the current version.
      </p>
      <h2>Contact Us</h2>
      <p>
        If you have any questions about these terms and conditions, please
        contact us.
      </p>
    </div>
  </div>
    <%- include('partials/footer') %>
  </body>
</html>
