<!DOCTYPE html>
<html lang="en">
<head >
  
  <meta charset="UTF-8">
  <title style="background-color:rgb(234, 232, 230);">User Profile Page</title>
  <link rel="stylesheet" href="user_profile.css">
  
</head>

<body style="background-color:rgb(159, 157, 154);">
  <%- include('partials/navbar') %>
  <header>
    
    <a href="#" class="back-button">&#8592; Back</a>
    <h1 align="middle" >User Profile</h1>
  </header>
  <br>
  <div class="card">
    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="John" style="width: 70%" height="250">
    
    
    <section>
      
      
      <div class="container">
      <section class="myUL">
        <p ><strong>UserName:</strong> xyz123 </p>
        <p ><strong>Name:</strong> peter doe</p>
        <p ><strong>email:</strong> xyz@example.com </p>
        <p ><strong>Age:</strong> 18</li>
        <p ><strong>Institute:</strong> DAIICT</p>
        
        
      </section>
    </div>
  </div>

    </section> 

  
  </section>
  <%- include('partials/footer') %>
</body>
</html>
