@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-bg);
  color: var(--clr-neon);
}

.neon-button {
  color: var(--clr-neon);
  font-size: 2rem;
  border: var(--clr-neon) 0.125em solid;
  text-decoration: none;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.075em hsla(0 0% 100% / 0.2), 0 0 0.125em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: background-color 100ms linear;
  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4em 0.5em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:hover::after {
  opacity: 1;
}
