@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px;
  background: #eeeff3;
}

p {
  text-align: center;
}

.container-login {
  max-width: 700px;
  width: 40%;
  align-self: auto;
  margin-left: 40px;
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container-login .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-login .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #666976;
}
.content form .user-details {
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: 100%;
}
form .user-details .password-box {
  margin-bottom: 15px;
  width: 100%;
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .password-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #00bcd4;
    outline: none;
    resize: none;
}

.user-details .password-box input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #00bcd4;
    outline: none;
    resize: none;
}
.user-details .input-box input:focus,
.user-details .password-box input:focus,
.user-details .input-box input:valid {
  border-color: rgb(0, 139, 164);
}

form .button {
  height: 45px;
  margin: 35px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #00bcd4;
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: rgb(0, 139, 164);
}
@media (max-width: 584px) {
  .container-login {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
.student-image {
  margin-left: 50px;
}

.student-image img {
  width: 650px;
  height: 470px;
}

@media screen and (max-width: 1060px) {
  .container .content {
    flex-direction: column;
  }

  .student-image {
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 0;
    position: absolute;
    width: 95%;
    height: 100%;
  }

  .student-image img {
    width: 390px;
    height: 260px;
  }

  .container-login {
    max-width: 700px;
    width: 100%;
    align-self: auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    left: 30%;
  }
}

#messages {
  color: red;
}
