@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)) , url(https://media.istockphoto.com/id/997922516/video/close-up-business-man-signing-contract.jpg?s=640x640&k=20&c=I5v74OTZ8dv9e64bEBNI9Di_3fuk-4MR12ZeDZocV54=) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.privacy-container {
    max-width: 80%;
    margin: 2em auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
}

.privacy-container h1 {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: black;
}

.privacy-container h2 {
    font-size: 26px;
    padding-top: 10px;
    margin-bottom: 20px;
    color: #666;
    position: relative;
    display: inline-block;
}

.privacy-container p {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
}

.privacy-container ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.privacy-container li {
    padding: 5px;
}

.privacy-container a {
    color: #007bff;
    text-decoration: none;
}

.privacy-container a:hover {
    text-decoration: underline;
}

.privacy-container button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.privacy-container button:hover {
    background-color: #0062cc;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
