* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 1170px;
	margin: auto;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(1.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.menu {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.menu li {
	display: inline-block;
}
.menu li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	/* text-transform: uppercase; */
}
.menu li a:hover {
	background: #fff;
	color: #333;
}


.banner-text .par{
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
}
  

.banner-text {
	float: left;
  	margin-left: 10%;

	position: absolute;
	width: 600px;
	height: 300px;
	margin-top : 20%;
	text-align: left;
}

.banner-text h1 {
	text-align: left;
	color: #fff;
	/* text-transform: uppercase; */
	font-size: 60px;
}
        .banner-text p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #ddd;
}
.banner-text h1 span {
	color: darkorange;
}

.banner-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

.banner-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.menu {
		float: none;
		margin-top: 0;
	}
	.menu li a {
		padding: 5px;
		font-size: 11px;
	}
	.menu {
		text-align: center;
	}
	.banner-text {
		width: 100%;
		height: auto;
		margin: 15% 0;
	}
	.banner-text h1 {
		font-size: 30px;
	}
}